{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>LA LAKERS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis modi esse suscipit, harum, tenetur praesentium iure fugit quasi, aperiam ipsum tempore earum numquam voluptas quis amet mollitia. Inventore, dolores dolor?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/logoLakers.png" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}